<div class="container-fluid text-center" style="padding-top: 70px;padding-bottom: 70px; margin: 0px;">
<div class="row" style="padding: 0 15px;">
    <div class="col-4" style="padding-right:7.5px;padding-left: 0px;">
        <div class="image" style="height: 100%;">
            <a [routerLink]="['/list-article', 4]" >
                <img class="img standard-product-image" src="https://i.imgur.com/5lqvCZt.jpeg" alt="zoom effect" loading="lazy">
            </a>
        
            <div class="category-btn">
                <a [routerLink]="['/list-article', 4]" class="btn btn-white">
                    Clothing
                </a>
            </div>
        </div>
    </div>

    <div class="col-4" style="padding-left: 7.5px;padding-right: 7.5px;">
        <div style="height: 30%;">
            <div style="padding: 25px;">
                <div  style="margin-bottom: 0;text-align: center;">
                    <div class="subtitle">Top Categories</div>
                    <h2>Explore Our Global Categories</h2>
                </div>
            </div>
        </div>
        <div class="image" style="height: 70%;">
            <a [routerLink]="['/list-article', 3]" >
                <img class="img standard-product-image" src="https://i.imgur.com/otXElq0.jpeg" alt="zoom effect" loading="lazy">
            </a>
            <!-- bouton -->
            <div class="category-btn">
                    <a [routerLink]="['/list-article', 3]" class="btn btn-white">
                    Beauty & care  
                </a>
            </div>
        </div>
        
    </div>

    <div class="col-4" style="padding-left:7.5px;padding-right: 0px;" >
        <div class="image" style="height: 50%;padding-bottom: 7.5px;">
            <a [routerLink]="['/list-article', 2]">
                <img  class="img standard-product-image" src="https://i.imgur.com/Rf1IdQB.jpeg" alt="zoom effect" loading="lazy">
            </a>
            <div class="category-btn">
                <a [routerLink]="['/list-article', 2]" class="btn btn-white">
                     Electronics     
                </a>
            </div>
        </div>
        <div class="image" style="height: 50%;padding-top: 7.5px;">
            <a [routerLink]="['/list-article', 1]">
             <img [routerLink]="['/list-article', 1]" class="img standard-product-image"src="https://i.imgur.com/8jcPbrF.jpeg" alt="zoom effect" loading="lazy">
            </a>
            <!-- bouton -->
            <div class="category-btn">
                <a [routerLink]="['/list-article', 1]" class="btn btn-white">
                    Home&Deco               
                </a>
            </div>
        </div>
    </div>
</div>
</div>