<section class="main-banner-sec">
  <video autoplay muted loop playsinline class="banner-video">
    <source src="https://videos.pexels.com/video-files/853889/853889-hd_1920_1080_25fps.mp4" type="video/mp4">
  </video>
</section>

<div class="container">
  <div class="banner-content">
    <div class="section-title">
      <div class="subtitle"></div>
      <h2>Trade Without Borders</h2>
      <p>
        Your Passport to Global Shopping. We believe borders shouldn't limit your choices.
        Shop the world's best products, effortlessly.
      </p>
    </div>

    <a [routerLink]="['/collections']" class="btn">
      <span style="padding-right: 15px;">Shop Now</span>
    </a>
  </div>
</div>