<section class="common-banner-sec" style="background-image:url(https://i.imgur.com/WzPjkDY.png);">
  <div class="containerr">
    <div class="common-banner-content text-center">

      <div class="section-title">
        <div class="subtitle" style="color: white; font-size: 18px;">FAQ'S</div>
      </div>

      <div class="breadcrumbs">
        <ul class="filter-cat flex align-center justify-center">
          <li>
            <a  [routerLink]="['']" style="color: white; text-decoration:none;">Home</a>
            <span style="margin: 0 13px;">></span>
            <a  style="color: white; text-decoration:none;">Pages</a>
            <span style="margin: 0 13px;">></span>
            <a  style="color: white; text-decoration:none;">FAQ’s</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<!-- faqs-->

  <div class="row" style=" margin:75px 5px;">
    <div class="col-12" >
      <div class="faq-left-itm">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>
At Globex, we are committed to providing you with clear and helpful information to enhance your shopping experience. Our Frequently Asked Questions section covers common topics such as ordering, shipping, returns, payments, and product availability across our different categories including home, fashion, electronics, and more.

Whether you're shopping with us for the first time or you're a returning customer, this section is designed to guide you through every step of your journey. If you need additional assistance, our support team is always ready to help ensure a smooth and satisfying experience.
</p>
        <div class="faq-acnav">
          <div *ngFor="let faq of faqs" class="set has-children">
            <a href="javascript:;" class="acnav-label" (click)="toggle(faq)">
              <span>{{ faq.question }}</span>
            </a>
            <div class="acnav-list" [class.open]="faq.isOpen">
              <p>{{ faq.answer }}</p>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


