<section class="common-banner-sec" style="background-image:url(https://i.imgur.com/WzPjkDY.png);">
  <div class="containerr">
    <div class="common-banner-content text-center">

      <div class="section-title">
        <div class="subtitle" style="color: white; font-size: 18px;">Contact</div>
      </div>

      <div class="breadcrumbs">
        <ul class="filter-cat flex align-center justify-center">
          <li>
            <a  [routerLink]="['']" style="color: white; text-decoration:none;">Home</a>
            <span style="margin: 0 13px;">></span>
            <a style="color: white; text-decoration:none;">Pages</a>
            <span style="margin: 0 13px;">></span>
            <a  style="color: white; text-decoration:none;">Contact Us</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

  <!-- Info Boxes -->
  <section class="info-boxes">
    <div class="box">
      <i class="fa fa-truck" ></i>
      <h4>SHIPPING</h4>
      <p>worldwide shopping</p>
    </div>
    <div class="box">
      <i class="fa fa-life-ring"></i>
      <h4>HELP</h4>
      <p>24/7 Customer Support</p>
    </div>
    <div class="box">
      <i class="fa fa-box"></i>
      <h4>RETURN</h4>
      <p>30 Days Free Return</p>
    </div>
  </section>
  
  <!-- Contact Section -->
  <section class="contact-container">
    <div class="contact-info">
      <div>
        <h3>ADDRESS</h3>
        <p>Avenue Habib-Bourguiba<br>8080 sidi bouzid<br>Tunisie</p>
      </div>
      <div>
        <h3>CALL US</h3>
        <p>(+216) 72 285 555<br>(+216) 20 925 154</p>
      </div>
      <div>
        <h3>OPEN</h3>
        <p>Monday – Friday: 8am – 4pm<br>Saturday – Sunday: 9am – 5pm</p>
      </div>
      <div>
        <h3>EMAILS</h3>
       <p>benjeddou&#64;gmail.com<br>info&#64;gmail.com</p>
      </div>
      <div class="social">
        <h3>SOCIAL</h3>
        <div class="icons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-x-twitter"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  
    <!-- Contact Form -->
    <div class="contact-form">
      <h2>Got Any Questions?</h2>
      <p>Use the form below to get in touch with the sales team</p>
      <form>
        <label>First name *</label>
        <input type="text" placeholder="First name" required />
  
        <label>Email *</label>
        <input type="email" placeholder="shop@company.com" required />
  
        <label>Phone number *</label>
        <input type="tel" placeholder="Phone number" required />
  
        <label>Description</label>
        <textarea placeholder="How Can We Help?"></textarea>
      </form>

    <p class="recaptcha-notice">
        This site is protected by Google
        <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a>
        and
        <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
        apply.
      </p>
      
      <!-- Submit Button -->
      <div class="form-button-wrapper">
        <button type="submit" class="submit-button">SEND MESSAGE →</button>
      </div>
      </div>
  </section>
  
